body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
   -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    display: flex;
    min-height: 60px;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}



a {
    text-decoration: none;
    color: black;
}


nav a:hover {
    color: gray;
}

#imagenes {
    height: 450;
    width: 300;
}